* {
    font-family: Verdana;
    font-weight: normal;
    text-align: center;
    color: white;
    background-color: black;
}

h1 {
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

h3 {
    text-align: right;
    color: gray;
}